//
   Created by quanquan.sun on 2017/8/9.

doctype html
html
   head
      title #{title}
      link(rel='stylesheet', href='/css/base.min.css')
      link(rel='stylesheet', href='/css/public.css')
      link(rel='stylesheet', href='/css/accountLock.css')
   body
      div#h
      div#w
         div.nav
         div.banner
         div.account_con.mpt.a_account.wraper.clearfix
            div.leftNav.fl
            div.accountLock_r.fr
               div.accountLock-rightTip.clearfix
               div.accountLock-menu_step
               div.accountLock_content
                  p.accountLock-tips.e_accountLock_tips
                  form(action="/ajaxValidAccountCaptcha?type=lock",class="e_accountLock_form",method="post",onsubmit="return false;")
                     ul.clearfix.accountLock-form
                        li.fl.account-form-list
                           label(for="",class="fl") 通行证账号:
                           input(type="text",name="username",class="fl form-input e_account",maxlength="50",autocomplete="off",datatype="/^[a-zA-Z0-9_\\-@\\.]{6,}$/",nullmsg="可别忘了输入通行证",errormsg="您输入的通行证格式错误",sucmsg=" ",tabindex="1")
                        li.fl.accountLock-form-tip.e_account_tip
                           span.Validform_checktip
                        li.fl.account-form-list
                           label(for="" class="fl") 选择游戏
                           input(type="hidden",name="product",value="",datatype="/[^0]/",nullmsg="可别忘了选择游戏",errormsg="可别忘了选择游戏",sucmsg=" ")
                           div.fl.iw-select
                              span.iw-select-arrow ▼
                              input(type="text",class="iw-select-selected",data-value="0",value="请选择",readonly="readonly")
                              ul(class="iw-select-options e_product",style="display: none;")
                        li.fl.accountLock-form-tip
                           span.Validform_checktip
                        li.fl.account-form-list
                           label(for="",class="fl") 验证码：
                           input(type="text",name="captcha",class="fl form-input-captcha",maxlength="6",autocomplete="off",datatype="/^[\\w\\W]{4,6}$/",nullmsg="可别忘了输入验证码",errormsg="您输入的验证码有误",sucmsg=" ",tabindex="3")
                           a(title="看不清？重新换张！",href="javascript:;")
                              //img(width="90",height="40",id="accountLockCaptcha",onerror="imgError(this);",src="./账号锁定解锁页-绿岸客服中心-绿岸网络在线--提供稳定、安全、好玩的网络游戏平台_files/captcha")
                              canvas#mycanvas(width='150' height='48')
                              input(type="hidden",name="capId",id="capId",value="")
                        li.fl.accountLock-form-tip.e_captcha_tip
                           span.Validform_checktip
                     input(type="submit",value="下一步",class="block form-submit accountLock-form-submit e_submit")
      div#f
      div.popup.hide
      div.faq_box
      script(src='/js/lib/frame.min.js')
      script.
         MPT.Config = {
            'passport_http': '',
            'pay_http': '',
            'cs_http': '',
            'cs_res_http': '',
            'space_http': '',
            'passport_res_http': '',
            'iwgame_http': '',
            'product_http': ''
         }
         MPT.pid = '';
         MPT.captid = '';
      script(src='/js/ctrl/product.js')
      //script(src = '/js/ctrl/webtool.nocache.js')
      script(src = '/js/ctrl/miniplanet_accountLock.js')
      script(src='/js/ctrl/hm.js')
      script(src = '/js/ctrl/user_sq.js')
      script(src = '/js/ctrl/valid.js')