//
   Created by quanquan.sun on 2017/8/14.

doctype html
html
   head
      title #{title}
      link(rel='stylesheet', href='/css/base.min.css')
      link(rel='stylesheet', href='/css/public.css')
      link(rel='stylesheet', href='/css/faq.css')
   body
      div#h
      div#w
         div.nav
         div.banner
         div.clearfix.faq-list.wraper.mpt.a_faq
            div.fl.faq-list-left
               ul.clearfix.faq-list-menu.e_faq_menu
      div#f
      div.popup.hide
      div.faq_box
      script(src='/js/lib/frame.min.js')
      script.
         MPT.Config = {
            'passport_http': '',
            'pay_http': '',
            'cs_http': '',
            'cs_res_http': '',
            'space_http': '',
            'passport_res_http': '',
            'iwgame_http': '',
            'product_http': ''
         }
         MPT.pid = '';
         MPT.captid = '';
      script(src='/js/ctrl/product.js')
      //script(src = '/js/ctrl/webtool.nocache.js')
      script(src = '/js/ctrl/miniplanet_faq.js')
      script(src='/js/ctrl/hm.js')
      script(src = '/js/ctrl/user_sq.js')