//
   Created by quanquan.sun on 2017/7/26.

doctype html
html
   head
      title #{title}
      link(rel='stylesheet', href='/css/base.min.css')
      link(rel='stylesheet', href='/css/account_public.css')
      link(rel='stylesheet', href='/css/account.css')
   body
      div#h
      div#w
         div.nav
         div.banner
         div.account_con.mpt.a_account.wraper.clearfix
            div.leftNav.fl
            div.account_r.fr
               div.account-rightTip.clearfix
               div.account-menu_box
                  ul.account-menu.e-findpw-menu
                     li.fl.cur
                        a(href="javascript:;",class="block account-menu-mobile",title="通过安全手机找回")
                     li.fl
                        a(href="javascript:;",class="block account-menu-mobile",title="通过安全邮箱找回")
                     li.fl
                        a(href="javascript:;",class="block account-menu-mobile",title="通过密保问题找回")
                     li.fl.last
                        a(href="javascript:;",class="block account-menu-mobile",title="通过申诉找回")
               div.account-menu_step
               div.e_findpw_content
                  p.findpw-tips.e_findpw_tips
                  form(action="/ajaxValidAccountCaptcha?type=mobile",class="e_findpw_form",method="post",onsubmit="return false;")
                     ul.clearfix.account-form
                        li.fl.account-form-list
                           label(for="",class="fl") 通行证账号：
                           input(class="fl form-input",type="text",name="username",maxlength="50",autocomplete="off",datatype="/^[a-zA-Z0-9_\\-@\\.]{6,}$/",nullmsg="可别忘了输入通行证",errormsg="您输入的通行证格式错误",sucmsg=" ",tabindex="1")
                        li.fl.account-form-tip.e_account_tip
                           span.Validform_checktip
                        li.fl.account-form-list
                           lable(for="",class="fl",style="color: #333;font: 14px/40px 宋体;margin-right: 10px;text-align: right;width:170px;") 验证码：
                           input(type="text",name="captcha",class="fl form-input-captcha",maxlength="6",autocomplete="off",datatype="/^[\\w\\W]{4,6}$/",
                           nullmsg="可别忘了输入验证码",errormsg="您输入的验证码有误",sucmsg=" ",tabindex="1")
                           a(title="看不清？重新换张！",href="javascript:;")
                              //img(width="90",height="40",id="findpwCaptcha",onerror="imgError2(this);",src="/js/ctrl/captcha")
                              canvas#mycanvas(width='150' height='48')
                              input(type="hidden",name="capId" id="capId",value="")
                        li.fl.account-form-tip.e_captcha_tip
                           span.Validform_checktip
                     input(type="submit",value="下一步",class="block form-submit account-form-submit e_submit")
                  div.system_tip
                     p 系统提示
                     p 此项适合已绑定安全手机的用户使用。
      div#f
      div.popup.hide
      div.faq_box
script(src='/js/lib/frame.min.js')
script.
   MPT.Config = {
      'passport_http': '',
      'pay_http': '',
      'cs_http': '',
      'cs_res_http': '',
      'space_http': '',
      'passport_res_http': '',
      'iwgame_http': '',
      'product_http': ''
   }
   MPT.pid = '';
script(src='/js/ctrl/product.js')
script(src = '/js/ctrl/miniplanet_account.js')
script(src='/js/ctrl/hm.js')
script(src = '/js/ctrl/user_sq.js')
script(src = '/js/ctrl/valid.js')




