<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="捕鱼天堂岛" name="keywords">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0,user-scalable=no">
    <title>捕鱼天堂岛</title>
    <link rel="stylesheet" href="./stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/base.min.css">
  </head>
  <body>
    <div class="contain-top">
      <div class="top"><a href="#" target="_blank" class="logo1"></a><span class="logo2"></span>
        <div class="top-nav">
          <ul id="top-ul" class="top-ul">
            <li><a href="#" target="_blank">首页</a></li>
            <li><a href="#" target="_blank">账号中心</a></li>
            <li><a href="#" target="_blank">充值中心</a></li>
            <li><a href="#" target="_blank">关于绿岸</a></li>
            <li><a href="#" target="_blank">客服中心</a></li>
          </ul>
        </div>
        <div class="top-reg0"><a href="#" target="_blank" class="top-login"></a><a href="#" target="_blank" class="top-reg"></a></div>
        <div class="nav-map"></div>
      </div>
      <div class="out">
        <div class="to-hide"></div>
        <div class="out"></div>
        <div class="hide-nav">
          <h4>欢迎来到绿岸地图，<a href="#" target="_blank" class="go-pay">进入充值中心</a></h4>
          <div class="hide-title">
            <ul>
              <li>热门游戏</li>
              <li>绿岸通行证</li>
              <li>账号问题</li>
              <li>安全保护</li>
              <li>关于绿岸</li>
            </ul>
          </div>
          <ul class="first-ul">
            <li>
              <ul class="second-ul">
                <li><a href="#" target="_blank">权御天下</a></li>
                <li><a href="#" target="_blank">天之禁</a></li>
                <li><a href="#" target="_blank">醉逍遥</a></li>
                <li><a href="#" target="_blank">新蜀门</a></li>
                <li><a href="#" target="_blank">守护神之觉醒</a></li>
              </ul>
            </li>
            <li>
              <ul class="second-ul">
                <li><a href="#" target="_blank">注册账号</a></li>
                <li><a href="#" target="_blank">账号中心</a></li>
                <li><a href="#" target="_blank">客服中心</a></li>
                <li><a href="#" target="_blank">充值中心</a></li>
                <li><a href="#" target="_blank">家长监控</a></li>
              </ul>
            </li>
            <li>
              <ul class="second-ul">
                <li><a href="#" target="_blank">修改密码</a></li>
                <li><a href="#" target="_blank">找回密码</a></li>
                <li><a href="#" target="_blank">找回账号</a></li>
                <li><a href="#" target="_blank">账号锁定</a></li>
                <li><a href="#" target="_blank">账号解锁</a></li>
                <li><a href="#" target="_blank">记录查询</a></li>
              </ul>
            </li>
            <li>
              <ul class="second-ul">
                <li><a href="#" target="_blank">安全令牌</a></li>
                <li><a href="#" target="_blank">安全手机</a></li>
                <li><a href="#" target="_blank">安全邮箱</a></li>
                <li><a href="#" target="_blank">密保问题</a></li>
              </ul>
            </li>
            <li>
              <ul class="second-ul">
                <li><a href="#" target="_blank">关于绿岸</a></li>
                <li><a href="#" target="_blank">企业文化</a></li>
                <li><a href="#" target="_blank">产品介绍</a></li>
                <li><a href="#" target="_blank">商务洽谈</a></li>
                <li><a href="#" target="_blank">招聘动态</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="banner">
      <div class="banner-w">
        <div class="banner"><span class="prev"><em></em>
            <div class="prev-loop hide">
              <div class="loop-in1"></div>
            </div></span>
          <ul class="loop">
            <li><a href="#" target="_blank" title="《天之禁X》"><img src="./images/0_20170303125340689.jpg" alt="精英招募 预约开启"></a></li>
            <li><a href="#" target="_blank" title="《醉逍遥》暖春福利"><img src="./images/1_20170301020647241.jpg" alt="新服约战，等您来挑战！"></a></li>
            <li><a href="#" target="_blank" title="《新蜀门》上班专区"><img src="./images/2_20170228024628432.jpg" alt="重磅现金公会赛燃情助威"></a></li>
            <li><a href="#" target="_blank" title="《守护神之觉醒》"><img src="./images/3_20170116030638477.jpg" alt="2017开年奇幻巨作"></a></li>
            <li><a href="#" target="_blank" title="《天之禁》美女专服"><img src="./images/4_20170217015910113.jpg" alt="情人节大作战"></a></li>
            <li><a href="#" target="_blank" title="《权御天下》"><img src="./images/5_20170116030610780.jpg" alt="绿岸网络首款国战网游"></a></li>
          </ul><span class="next"><em></em>
            <div class="next-loop hide">
              <div class="loop-in1"></div>
            </div></span>
          <ul class="span-li">
            <li class="li-click"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="contain-content">
      <div class="content">
        <div class="news">
          <div class="loop-news">
            <ul class="news-ul">
              <li><a href="#" target="_blank" title="《醉逍遥》约战新服"><img src="./images/6_20170111022747122.jpg" alt="即刻预约，勇夺永久时装、+10坐骑！"></a></li>
              <li><a href="#" target="_blank" title="全面升级《天之禁X》绝密测试"><img src="./images/7_20170301012752901.jpg" alt="精英招募预约开启"></a></li>
              <li><a href="#" target="_blank" title="《新蜀门》现金公会赛"><img src="./images/8_20170117034435931.jpg" alt="入驻经典七区，专享赛事豪礼"></a></li>
              <li><a href="#" target="_blank" title="《权御天下》之前启封神"><img src="./images/9_20170111104422961.jpg" alt="封神之战，铸就权御天下！抢占限量封神令，开启你的权御皇权之路！"></a></li>
            </ul>
            <ul class="span-li1">
              <li class="li-click1"></li>
            </ul>
          </div>
          <div class="news-content"><a href="#" target="_blank" class="plus"></a>
            <h3><a href="#" target="_blank" title="【醉逍遥】千万福利新服今日等您约战">【醉逍遥】千万福利新服今日等您约战</a></h3>
            <ul class="content-ul">
              <li><span class="list"></span><a href="#" target="_blank" title="【守护神】探索神秘新世界，开启奇遇之旅">【守护神】探索神秘新世界，开启奇遇之旅</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【新蜀门】一封让女神脸红心跳的情书">【新蜀门】一封让女神脸红心跳的情书</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【守护神】沙盒世界极致奇幻画风">【守护神】沙盒世界极致奇幻画风</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【天之禁X】动态世界玩法自由度升级">【天之禁X】动态世界玩法自由度升级</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【新蜀门】开学季：手把手教你打动学妹">【新蜀门】开学季：手把手教你打动学妹</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【天之禁X】首创迷宫探索型副本">【天之禁X】首创迷宫探索型副本</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【权御天下】三十六策之美人计">【权御天下】三十六策之美人计</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【天之禁X】行业黑马崛起，绿岸全面升级">【天之禁X】行业黑马崛起，绿岸全面升级</a><em>03/06</em></li>
              <li><span class="list"></span><a href="#" target="_blank" title="【醉逍遥】七旬老人再现江湖竟然是因为TA">【醉逍遥】七旬老人再现江湖竟然是因为TA</a><em>03/06</em></li>
            </ul>
          </div>
        </div>
        <h2>热门游戏</h2>
        <h4>Hot Games</h4>
        <ul class="game-ul">
          <li><img src="./images/10_20170111021900519.jpg" class="game-img1">
            <div class="game-hide"><em class="out1"></em>
              <div class="er"><img src="./images/11_20170110043614283.jpg"><span>微信公众号</span></div>
              <div class="game-hide-right"><span>MMORPG国战</span><a href="#" target="_blank" class="game-reg">账号注册</a><a href="#" target="_blank" class="game-down">游戏下载</a></div>
            </div>
            <div class="game-up"><b>《权御天下》</b><br><span>3D无锁定幻想国战网游，等你来战！</span><br><a href="#" target="_blank" class="go-net"></a></div>
          </li>
          <li><img src="./images/12_20170111021829614.jpg" class="game-img1">
            <div class="game-hide"><em class="out1"></em>
              <div class="er"><img src="./images/13_20170111020538897.jpg"><span>微信公众号</span></div>
              <div class="game-hide-right"><span>MMO奇幻PK网游</span><a href="#" target="_blank" class="game-reg">账号注册</a><a href="#" target="_blank" class="game-down">游戏下载</a></div>
            </div>
            <div class="game-up"><b>《守护神之觉醒》</b><br><span>2017开年巨作西方正统奇幻网游！</span><br><a href="#" target="_blank" class="go-net"></a></div>
          </li>
          <li><img src="./images/14_20170111021926336.jpg" class="game-img1">
            <div class="game-hide"><em class="out1"></em>
              <div class="er"><img src="./images/15_20170110043316947.jpg"><span>微信公众号</span></div>
              <div class="game-hide-right"><span>2.8D玄幻武侠</span><a href="#" target="_blank" class="game-reg">账号注册</a><a href="#" target="_blank" class="game-down">游戏下载</a></div>
            </div>
            <div class="game-up"><b>《天之禁》</b><br><span>无禁式MMORPG玄幻武侠大作，庆典公测邀您再战江湖。</span><br><a href="#" target="_blank" class="go-net"></a></div>
          </li>
          <li><img src="./images/16_20170111022051742.jpg" class="game-img1">
            <div class="game-hide"><em class="out1"></em>
              <div class="er"><img src="./images/17_20170110044150624.jpg"><span>微信公众号</span></div>
              <div class="game-hide-right"><span>2.8D武侠MMO</span><a href="#" target="_blank" class="game-reg">账号注册</a><a href="#" target="_blank" class="game-down">游戏下载</a></div>
            </div>
            <div class="game-up"><b>《新蜀门》</b><br><span>永恒经典之作《新蜀门》，与兄弟共续江湖情缘。</span><br><a href="#" target="_blank" class="go-net"></a></div>
          </li>
          <li><img src="./images/18_20170111022110487.jpg" class="game-img1">
            <div class="game-hide"><em class="out1"></em>
              <div class="er"><img src="./images/19_20170110043905185.jpg"><span>微信公众号</span></div>
              <div class="game-hide-right"><span>2.8D叛逆武侠</span><a href="#" target="_blank" class="game-reg">账号注册</a><a href="#" target="_blank" class="game-down">游戏下载</a></div>
            </div>
            <div class="game-up"><b>《醉逍遥》</b><br><span>《醉逍遥》重新归来2.8D叛逆武侠，非玩不可。</span><br><a href="#" target="_blank" class="go-net"></a></div>
          </li>
          <li><img src="./images/20_20170111105706804.jpg" class="game-img1">
            <div class="game-up"><b>敬请期待</b><br><span>神秘大作，待君开启！</span><br></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="contain-foot">
      <div class="foot0">
        <h2>便捷服务</h2>
        <h4>Service</h4>
        <div class="foot-left">
          <ul class="foot-ul">
            <li class="foot-li1"><a href="#" target="_blank" class="foot-li1a"></a></li>
            <li class="foot-li2"><a href="#" target="_blank" class="foot-li2a"></a></li>
            <li class="foot-li3"><a href="#" target="_blank" class="foot-li3a"></a></li>
            <li class="foot-li4"><a href="#" target="_blank" class="foot-li4a"></a></li>
            <li class="mar1 foot-li5"><a href="#" target="_blank" class="foot-li5a"></a></li>
          </ul>
        </div>
        <div class="foot-right">
          <div class="foot-right-1">
            <p><b>客服电话</b>SERVICE PHONE</p><span class="line"></span>
            <div class="select-out"><span class="select-span select-span1">请按游戏选择</span>
              <ul class="hide tel_select_ul e_select_con select-ul select-ul1">
                <li>权御 021-60561814</li>
                <li>天之禁 021-60561813</li>
                <li>新蜀门 021-60561810</li>
                <li>醉逍遥 021-60561811</li>
              </ul>
            </div>
          </div>
          <div class="foot-right-2">
            <p><b>客服邮箱</b>SERVICE MAIL</p><span class="line"></span>
            <div class="select-out select-out2"><span class="select-span select-span2 width2">请按游戏选择</span>
              <ul class="hide e_select_con email_select_ul select-ul select-ul2 width1">
                <li>权御 qytxkefu@iwgame.com</li>
                <li>天之禁 tzjkefu@iwgame.com</li>
                <li>新蜀门 kefu@shumenol.com</li>
                <li>醉逍遥 kf@zuixiaoyao.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="foot_w">
      <div class="foot_line_bg"></div>
      <div class="foot layout clearfix">
        <div class="ico_foot_w fl clearfix"><a href="#" target="_blank" class="fl ico_foot_common ico_foot_1"></a></div>
        <div class="foot_detail fl">
          <ul class="foot_menu clearfix">
            <li class="fl"><a href="#" target="_blank">关于绿岸</a></li>
            <li class="line fl"></li>
            <li class="fl"><a href="#" target="_blank">产品介绍</a></li>
            <li class="line fl"></li>
            <li class="fl"><a href="#" target="_blank">商务洽谈</a></li>
            <li class="line fl"></li>
            <li class="fl"><a href="#" target="_blank">绿岸招聘</a></li>
            <li class="line fl"></li>
            <li class="fl"><a href="#" target="_blank">客服中心</a></li>
            <li class="line fl"></li>
            <li class="fl"><a href="#" target="_blank">家长监控</a></li>
            <li class="line fl"></li>
          </ul>
          <p>上海绿岸网络科技股份有限公司 版权所有<a href="#" target="_blank">沪ICP备10006417号</a></p>
          <p>增值电信业务经营许可证 ICP号：沪B2-20090066 网络文化经营许可证 编号：沪网文[2015]0248-078号</p>
        </div>
        <div class="foot-logo"><a href="#" target="_blank" class="fl ico_foot_common ico_foot_2"></a><a href="#" target="_blank" class="fl ico_foot_common ico_foot_3"></a></div>
      </div>
    </div>
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/index_v2.js"></script>
  </body>
</html>