doctype html
html
    head
        meta(charset="UTF-8")
        meta(content="初度空间" name="keywords")
        meta(name="viewport" content="initial-scale=1.0, minimum-scale=1.0,user-scalable=no")
        title= "初度空间"
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/base.min.css')
    body
        block content
