//
   Created by quanquan.sun on 2017/9/1.

doctype html
html
   head
      title #{title}
      link(rel='stylesheet', href='/css/base.min.css')
      link(rel='stylesheet', href='/css/public.css')
      link(rel='stylesheet', href='/passport/user_passport.css')
   body.mpt.a_user_passport
      div#publicTop
      div#publicHeader
      div.user-passport-banner
      div.clearfix.user-passport-w.user-passport-content
         div.fl.user-passport-main.e_user_passport_main
            div.user-passport-account
            div.user-passport-quick
      div#publicFooter
      script(src='/passport/frame.min.js')
      script.
         MPT.Config = {
            'space_http': '',
            'passport_http': '',
            'passport_res_http': '',
            'pay_http': '',
            'cs_http': '',
            'iwgame_http': '',
            'lvanol_http': '',
            'iwgame_sslres': ''
         }
         MPT.pid = '';
      script(src='/passport/product.js')
      script(src='/passport/config.js')
      script(src='/passport/miniplanet_user_passport.js')
      script(src='/passport/hm.js')