//
   Created by quanquan.sun on 2017/8/21.

doctype html
html
   head
      title #{title}
      link(rel='stylesheet', href='/pay/css/base.min.css')
      link(rel='stylesheet', href='/pay/css/public.css')
      link(rel='stylesheet', href='/pay/css/pay.css')
   body.mpt.a_pay
      div#publicTop
      div#publicHeader
      div.pay-banner
      div.pay-w.e_pay_wrap
         div.clearfix.e_pay_info
         div.clearfix.pay-main
            div.clearfix.pay-main-w
               div.fl.pay-mode.e_pay_mode
               div.fl.pay-content.e_pay_content
      div#publicFooter
   script(src='/js/lib/frame.min.js')
   script.
      console.log(MPT);
      MPT.Config = {
         'roleId': '',
         'accountId': '',
         'accountName': '',
         'gameNodeId': '',
         'space_http': '',
         'passport_http': '',
         'pay_http': '',
         'pay_domain': '',
         'pay_res_http': '',
         'cs_http': '',
         'iwgame_http': '',
         'lvanol_http': ''
      }
      MPT.pid = '';
   script(src='/pay/product.js')
   script(src = '/pay/miniplanet_pay.js')
   script(src='/pay/iwbd.js')
   script(src='/js/ctrl/hm.js')
