@charset 'utf-8';
a:hover {
    color: #5abb00;
    text-decoration: underline;
}

.public-w {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 980px;
}

.public-pic {
    background: url(../images/public_pic.png) no-repeat;
}

.public-top {
    background-color: #f1f1f1;
    border-bottom: 1px solid #dadada;
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 14px;
    line-height: 30px;
    min-width: 980px;
    position: relative;
    z-index: 1;
}

.public-top-account {
    height: 30px;
    overflow: hidden;
    line-height: 32px;
}

.public-top-account-icon {
    height: 17px;
    margin: 7px 8px 0 0;
    width: 17px;
}

.nologin, .nologin a {
    color: #999;
}

.islogin {
    color: #6daf07;
}

.nologin .public-top-account-icon {
    background-position: -173px -70px;
}

.islogin .public-top-account-icon {
    background-position: -191px -70px;
}

.public-top-account-logout {
    background-color: #5abb00;
    border-radius: 3px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin: 6px 0 0 17px;
    text-align: center;
    width: 40px;
}

.public-top-account-logout:hover {
    color: #fff;
}

.public-top-menu {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #fbfbfb;
}

.public-top-menu li {
    border-left: 1px solid #fbfbfb;
    border-right: 1px solid #e7e7e7;
    text-align: center;
    position: relative;
    width: 80px;
}

.public-top-menu a {
    color: #999;
    height: 30px;
}

.public-top-menu a:hover {
    color: #5abb00;
    text-decoration: none;
}

.public-top-menu i {
    border-left: 4px solid #f1f1f1;
    border-right: 4px solid #f1f1f1;
    border-top: 4px solid #999;
    cursor: pointer;
    height: 0;
    margin: 13px 9px 0 -5px;
    overflow: hidden;
    width: 0;
}

.public-top-menu a:hover i {
    border-top: 4px solid #5abb00;
}

.public-top-menu .public-top-menu-setting, .public-top-menu .public-top-menu-list {
    width: 50px;
}

.public-top-menu-setting em {
    background-position: -173px -36px;
    cursor: pointer;
    height: 16px;
    margin: 7px 0 0 11px;
    width: 16px;
}

.public-top-menu-setting a:hover em {
    background-position: -190px -36px;
}

.public-top-menu-list em {
    background-position: -173px -53px;
    cursor: pointer;
    height: 16px;
    margin: 7px 0 0 11px;
    width: 16px;
}

.public-top-menu-list a:hover em {
    background-position: -190px -53px;
}

.public-top-menu-options {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    position: absolute;
    right: -1px;
    text-align: center;
    top: 30px;
    width: 80px;
}

.public-top-menu-options h2 {
    line-height: 28px;
}

.public-top-menu-options a {
    color: #666;
}

.public-top-menu-options a:hover {
    text-decoration: underline;
}

.public-top-menu-options i {
    background-position: -143px -35px;
    border: 0;
    cursor: default;
    height: 7px;
    margin: 0;
    position: absolute;
    right: 7px;
    top: -7px;
    width: 12px;
}

.public-header {
    height: 70px;
    min-width: 980px;
    position: relative;
}

.public-header-logo {
    background-position: 0 -43px;
    height: 46px;
    margin: 15px 0 0 2px;
    width: 172px;
}

.public-header-nav {
    padding-top: 28px;
}

.public-header-nav li {
    height: 26px;
    margin-right: 26px;
    text-align: center;
}

.public-header-nav a {
    color: #666;
    font: 18px \5FAE\8F6F\96C5\9ED1;
    padding-bottom: 3px;
    _padding-bottom: 0;
}

.public-header-nav a:hover, .public-header-nav .cur a {
    border-bottom: 2px solid #59bc01;
    color: #32863b;
    text-decoration: none;
    zoom: 1;
}

.public-footer {
    border-top: 8px solid #258f0b;
    height: 100px;
    min-width: 980px;
}

.public-footer-pic {
    margin: 0 20px 0 10px;
}

.public-footer-logo {
    background-position: 0 0;
    height: 42px;
    margin: 29px 10px 0 0;
    width: 142px;
}

.public-footer-pic1 {
    background-position: 0 -89px;
    height: 52px;
    margin: 25px 10px 0 0;
    width: 150px;
}

.public-footer-pic2 {
    background-position: -175px 0;
    height: 35px;
    margin-top: 32px;
    width: 35px;
}

.public-footer-copyright {
    color: #c2c2c2;
    margin-top: 20px;
    width: 600px;
}

.public-footer-copyright li {
    line-height: 22px;
    width: 100%;
}

.public-footer-copyright a {
    color: #c2c2c2;
}

.public-footer-copyright a:hover {
    color: #5abb00;
}

.public-popup-login {
    height: 411px;
    overflow: hidden;
    position: relative;
    width: 392px;
}

.public-popup-login-close {
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 13px;
}

.iw-alert {
    padding: 5px;
    position: relative;
    width: 350px;
}

.iw-alert-bg {
    background-color: #000;
    height: 100%;
    filter: alpha(opacity=10);
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.iw-alert-inner {
    background-color: #fff;
    height: 150px;
    width: 350px;
}

.iw-alert-inner p {
    color: #333;
    font: 16px/20px \5FAE\8F6F\96C5\9ED1;
    padding: 40px 10px;
    text-align: center;
}

.iw-alert-inner a {
    background-color: #78ba1a;
    border: 1px solid #6faa11;
    border-radius: 2px;
    bottom: 20px;
    color: #fff;
    font: 14px/36px \5FAE\8F6F\96C5\9ED1;
    height: 36px;
    left: 125px;
    position: absolute;
    text-align: center;
    width: 100px;
}

.iw-alert-inner a:hover {
    background-color: #669f13;
    text-decoration: none;
}

.iw-select {
    background-color: #d7e0e6;
    font-size: 14px;
    padding: 1px;
    position: relative;
}

.iw-select-arrow {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 14px;
    z-index: 1;
}

.iw-select-selected {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    color: #333;
    cursor: default;
    height: 36px;
    line-height: 36px;
    text-indent: 8px;
    width: 174px;
}

.iw-select-options {
    background-color: #fff;
    border: 1px solid #7a91a8;
    display: none;
    left: 0;
    position: absolute;
    top: 40px;
    width: 176px;
    z-index: 2;
}

.iw-select-option {
    background-color: #fff;
    color: #333;
    cursor: default;
    height: 24px;
    line-height: 24px;
    text-indent: 11px;
}

.iw-select-option:hover {
    background-color: #95afc8;
    color: #fff;
}

.reg-pop-sms {
    background: #fff url(../images/login_pop_close.png) no-repeat right top;
    border: 1px solid #d2cbcd;
    color: #666;
    font: 14px \5FAE\8F6F\96C5\9ED1;
    padding-bottom: 20px;
    position: relative;
    width: 258px;
}

.reg-pop-sms-close {
    height: 20px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
}

.reg-pop-sms-title {
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
}

.reg-pop-sms-form {
    padding: 20px 10px 0;
}

.reg-pop-sms-form li {
    height: 30px;
    width: 100%;
}

.reg-pop-sms-form .Validform_checktip {
    color: #f00;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding-left: 0;
}

.reg-pop-sms-form input {
    border: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    padding: 0 10px;
    width: 80px;
}

.reg-pop-sms-submit {
    background-color: #78ba1a;
    border: 1px solid #6faa11;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font: 16px \5FAE\8F6F\96C5\9ED1;
    height: 36px;
    margin: 0 auto;
    width: 140px;
}