@charset 'utf-8';
.login-public {
    background: url(../images/login_public.png) no-repeat
}

.login-public-account {
    background-position: -17px -203px;
    height: 19px;
    position: absolute;
    right: 15px;
    top: 13px;
    width: 16px
}

.login-public-pass {
    background-position: -34px -203px;
    height: 23px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 17px
}

.login-form-error {
    color: #f00;
    height: 38px;
    line-height: 38px;
    text-align: center
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 320px
}

.login-form li {
    height: 62px;
    position: relative;
    width: 100%;
    z-index: 1
}

.login-form-w {
    border: 1px solid #ccc;
    height: 46px;
    padding: 0 12px;
    width: 294px
}

.login-form-captcha {
    margin-right: 10px;
    width: 130px
}

.login-form-w input {
    border: 0;
    font-family: \5FAE\8F6F\96C5\9ED1;
    height: 46px;
    line-height: 46px;
    width: 90%
}

.login-form-submit {
    background-color: #91c945;
    border: 0;
    border-bottom: 5px solid #507c44;
    *border-bottom: 0;
    color: #fff;
    cursor: pointer;
    font: 18px \5FAE\8F6F\96C5\9ED1;
    height: 52px;
    margin: 10px auto 20px;
    width: 320px
}

.login-form-submit:hover {
    background-color: #6e9934
}

.login-form-tip {
    color: #999;
    left: 13px;
    position: absolute;
    top: 14px
}

.login-form-cap-li {
    visibility: hidden
}