@charset 'utf-8';
a {
    color: #666
}

.w {
    color: #666;
    font: 14px \5FAE\8F6F\96C5\9ED1;
    margin-left: auto;
    margin-right: auto;
    width: 980px
}

.login-public, .logo {
    background: url(../images/login_public.png) no-repeat
}

.login-public-account {
    background-position: -128px -64px;
    height: 19px;
    position: absolute;
    right: 15px;
    top: 13px;
    width: 16px
}

.login-public-pass {
    background-position: -128px -84px;
    height: 23px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 17px
}

#h {
    height: 76px
}

.logo {
    background-position: -64px -139px;
    height: 76px;
    width: 180px
}

.nav .nav-btn {
    border-top: 4px solid #fff;
    height: 72px;
    line-height: 72px
}

.nav .icon {
    top: 25px
}

.nav .arrow {
    top: 34px
}

.nav .nav-sub, .nav .nav-sub2 {
    top: 76px
}

.nav .current .nav-btn {
    border-top: 4px solid #78a71e
}

#f {
    border-top: 1px solid #f0f0f0
}

#c {
    min-width: 980px;
    background: url(../images/login_bg.jpg) no-repeat center top
}

.main {
    height: 510px;
    position: relative
}

.link {
    height: 330px;
    left: 220px;
    position: absolute;
    top: 0;
    width: 380px
}

.link2 {
    height: 130px;
    left: 229px;
    position: absolute;
    top: 340px;
    width: 380px
}

.login {
    background-color: #fff;
    box-shadow: 0 0 20px 5px rgba(17, 17, 13, .2);
    height: 406px;
    margin-top: 47px;
    padding-top: 20px;
    width: 368px
}

.login h2 {
    background: url(../images/login_title_bg.png) no-repeat;
    height: 29px;
    text-indent: -9999em
}

.login-other {
    height: 22px;
    line-height: 22px
}

.login-other li {
    width: 25%
}

.login-other .tac {
    text-align: center
}

.login-other .tar {
    text-align: right
}

.other {
    margin-bottom: 40px;
    overflow: hidden;
    padding-top: 40px;
    position: relative
}

.other ul {
    left: 50%;
    position: relative
}

.other li {
    border-right: 1px dashed #ededed;
    height: 63px;
    overflow: hidden;
    padding: 24px 0 33px 10px;
    position: relative;
    right: 50%;
    width: 188px
}

.other .last {
    border-right: 0
}

.other i {
    height: 63px;
    margin-right: 10px;
    width: 63px
}

.other-icon1 {
    background-position: 0 0
}

.other-icon2 {
    background-position: -64px 0
}

.other-icon3 {
    background-position: -128px 0
}

.other-icon4 {
    background-position: 0 -64px
}

.other-icon5 {
    background-position: -64px -64px
}

.other h3 {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px
}

.other p {
    color: #ccc;
    font-size: 12px
}

.poster {
    bottom: 0;
    height: 250px;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 200px;
    z-index: 999;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}

.poster .poster-close {
    color: #a6a6a6;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
    z-index: 998
}

.e-mail-list {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    width: 318px;
    max-height: 216px;
    overflow: auto;
    z-index: 2
}

.e-mail-list li {
    float: left;
    width: 100%;
    display: block;
    height: 36px;
    line-height: 36px;
    text-indent: 5px;
    color: #000;
    cursor: pointer;
    background-color: #fff
}

.e-mail-list li:hover {
    background-color: #ccc
}